@charset "UTF-8";

@font-face {
     font-family: 'ya';
     src: url('야놀자_야체_Regular.ttf') format('woff');
}
 html {
     scroll-behavior: smooth;
     font-family: 'ya';
}

 header {
 	 z-index:10;
     position: sticky;
     top: 0;
     width: 100%;
     background-color: #ff8080;
     color: #ffffff;
     padding: 10px;
     border-radius: 10px;
     min-height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 40px;
}
 .topMenu{
     flex: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

li {
  margin: 10px 10px 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

li:first-child {
  margin-left: 0;
  margin-right: auto;
}

 a {
     color: #fff;
     text-decoration: none;
     font-size: 1.5em;
}


 body {
      background-color: #E0F2FE;
      font-family: 'ya';
      text-align:center;
      align-content: center; 
      margin: 0;

    }
    
    .right-align {
    float: right;
    margin-left: 10px; /* 사진과 내용 사이의 간격을 조정할 수 있습니다. */
    
  }

    .introduce{
    
      font-family: 'ya';
      text-align: center;  
      background-image: url('/resources/img/1.jpg');
  	  background-position: left;
  	  background-size: 400px 450px;
      background-repeat: no-repeat;
      background-color: #F2F2F2;
      padding: 20px;
      border-radius: 200px;
      width:100%;
      color: #8080ff;
    
    }



	section{
		padding: 100px;		
		height:100vh;
		margin: auto;
	}


    .map-container {
    	align-items: left;
		display: flex; 	  	
        background-color: #F2F2F2;
        width:100%;

	}
	
	@keyframes shake {
	    0% { transform: translateX(-2px); }
	    50% { transform: translateX(2px); }
	    100% { transform: translateX(-2px); }
	}
	
	#map1 {
	    animation: shake 1s infinite;
	}

	.map-text {
	
	    margin-left: 20px; 
 
	}
     
     button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff8080;
  color: #fff;
  border: none;
  cursor: pointer;
}

	#result {
	  display: none;
	}
	 

	.box-container {
	  display: flex;
	  justify-content: center;

	}
	
	.box {
	  width: 300px;
	  border: 1px solid #ccc;
	  padding: 20px;
	  background-color: #f5f5f5;
	}
	
	
	
	
label {margin-bottom: 96px;}
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}

	@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-2deg);
  }
  75% {
    transform: translateX(5px) rotate(2deg);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s infinite;
}
