@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0px;
    padding: 0px;
}
section {
    width:100vw;
    height:100vh;
    margin:auto;
}
header {
    width:100vw;
    height:40px;
    background-color: #e46565;
    font-family: 'TmonMonsori';
    position: sticky;
    z-index: 20;
    top:0;
}
.line > a {
    text-decoration: none;
	 color: white;
	 height: 100%;
	 margin: 20px 0px 0px 20px;
	 display: inline-block;
	 vertical-align: middle;
	 line-height: 30%;
}


#section2 .map-title {
    width: 500px;
    padding-top:40px;
    margin: auto;
    font-size: 48px;
    text-align: center;
    font-family: 'TmonMonsori';
}
#section2 .map-content {
    display: flex;
    margin: auto;
    flex-direction: row;
    height: 700px;
    margin: 50px;
}
#map {
    width: 45%;
    height: 100%;
}
#map-desc {
    width: 55%;
    height: 100%;
    background-color: rgb(240,240,240);
}
#map-desc > div {
    margin: 20px 25px;
    width: fit-content;
    font-family: 'TmonMonsori';
    font-size: 30px;
}
#map-desc > div > span {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}
#map-desc > ul {
    list-style: square;
    font-family: 'GmarketSansMedium';
}
#map-desc > ul > li{
	margin: 5px 0px;
}
#map-desc > ul > li > a{
	text-decoration-line: none;
	background-color: #dedede;
	padding: 2px;
	border-radius: 5px;
	color: #121212;
}
#map-desc > ul > li > a:hover{
	color: #e46565;
}
.customoverlay {
    position: relation;
    background-color:white;
    transform: translateY(-55px);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.customoverlay:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}
.customoverlay .title {
    font-family: 'TmonMonsori';
    background-image: linear-gradient(0.25turn, rgb(103 232 249),rgb(129 140 248));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#draggable {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    padding: 10px;
    cursor: move;
}
#droppable {
    width: 200px;
    height: 200px;
    background-color: lightgray;
}
.remote-box {
    width:100px;
    height:200px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    font-family: 'TmonMonsori';
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(250,250,250);
    border-style: double;
    border-color: rgb(225,225,225);
    position: fixed;
    top: 50%;
    right:10px;
    box-shadow: 5px 10px 5px rgba(100,100,100,0.5);
    z-index: 50;
}
.remote-box > a {
    width:100%;
    height: 20px;
    margin: 5px 0px 5px 0px;
    padding: 10px 0px 10px 0px;
    text-decoration:none;
    border-color: rgb(200,200,200);
    text-align:center;
    color: rgb(12,12,12);
    background-color: white;
}
.remote-box > a:active {
    transform: scale(.90);
    transition-duration: 75ms;
    color: #ff8080;
}
.profile-box {
    width:100%;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    background-color: rgb(240,240,240);
}
.profile-image {
    margin-left:25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url(../img/loopy.jpg);
    background-size: cover;
    background-position: top;
}
.profile-name {
    margin-left: 50px;
    font-size: 40px;
    font-family: 'TmonMonsori';
}
.grid-container {
    margin: auto;
    margin-top: 150px;
    padding-bottom: 30px;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px 15px;
}
.grid-item {
    width: 400px;
    height: 300px;
    background-color: rgb(240,240,240);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.grid-content {
    font-family : 'GmarketSansMedium';
    text-align:left;
    margin: 5px 20px;
}
.grid-content > span {
    color: #E04D4D;
}
.clickoff.on {
    display:none;
}
.clickoff.off {
    width:400px;
    height:300px;
    position:absolute;
    z-index:10;
    display: block;
    text-align:center;
    border-radius: 5px;
    background-color: #E89090;
}
.clickoff.off:hover {
    cursor: pointer;
}
.clickoff.off.active {
    animation-name: moveInUp;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.clickoff.off.in-active {
    animation-name: moveInDown;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.clickoff.off > div {
    border-radius: 5px;
    font-family: 'TmonMonsori';
    font-size: 30px;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
@keyframes moveInUp {
    0% {
        opacity: 1;
        transform: translateY(0px);
   }
    80% {
        transform: translateY(-25px);
   }
    100% {
        opacity: 1;
        transform: translateY(-20px);
   }
}
@keyframes moveInDown {
    0% {
        opacity: 1;
        transform: translateY(-20px);
   }
    80% {
        transform: translateY(5px);
   }
    100% {
        opacity: 1;
        transform: translateY(0px);
   }
}
