@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: url('야놀자_야체_Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
}